:root{
    --principal-font: 'Source Sans Pro', sans-serif;
    --background-color: #091929;
    --second-color: #bdf5ff;
    --white: #FFFFFF: 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--principal-font);
    background-color: var(--background-color);
    color: white;
}

body{
    display: grid;
}

.header{
    width: 100%;
    margin: 1em auto 1em auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    align-items: center;
    padding: 0 0 0 1em;
}
.header-logo a{
    display: flex;
    align-items: center;
}
.header-logo a img:nth-child(1){
    height: 2.3em;
}
.header-logo a img:nth-child(2){
    height: 1em;
    padding-left: 0.8em;
}
.header-menu ul{
    display: flex;
    list-style: none;
}
.header-menu ul li a{
    text-decoration: none;
    border: 1px solid var(--background-color);
    border-radius: 0.3em;
    padding: 0.7em;
    font-weight: 500;
    font-size: 1.2em;
}
.header-menu ul li a:hover{
    border-color: var(--second-color);
    color: var(--second-color);
}

.header-menu ul li a:active{
    background-color: var(--second-color);
    color: var(--background-color);
}
.selected{
    border-color: var(--second-color);
    color: var(--second-color);
}
.hero{
    margin: 1em 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--second-color);
    position: relative;
}
.hero-text{
    width: 70%;
}
.hero-text p{
    margin: 0 auto 0 auto;
    width: 70%;
    text-align: center;
    font-size: 2.5vw;
}
.hero-text p:nth-child(3){
    margin-bottom: 1em;
}
.hero-text ul{
    display: flex;
    list-style: none;
    margin: 0 auto 0 auto;
    width: 70%;
    justify-content: center;
}
.hero-text ul li{
    margin-top: 0.7em;
    font-weight: 500;
    font-size: 1.2em;
}
.hero-text ul li a{
    padding: 0.7em;
}
.hero-img{
    width: 30%;
}

.hero-img img{
    width: 100%;
    display: block;
}

.hero-icon-down{
    position: absolute;
    bottom: 1em;
    right: 50%;
}
.hero-icon-down img{
    height: 24px;
}
.highlights{
    height: 100vh;
}
.introduction{
    font-size: 2em;
    border-bottom: 5px solid var(--second-color);
    padding-bottom: 2em;
}
.introduction h1{
    margin: 2em 4em 2em 2em;
}
.introduction p{
    margin: 1em 7em 2em 6em;
}
.portfolio-items{
    font-size: 1.5em;
    border-bottom: 5px solid var(--second-color);
    padding-bottom: 2em;
}
.portfolio-items header{
    margin: 2em;
}
.portfolio-items ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em 2em;
}
.portfolio-items ul li{
    display: block;
    width: 25%;
    margin: 1em 2em;
    text-align: center;
}
.portfolio-items ul li img{
    display: block;
    filter: grayscale(60%);
    width: 90%;
    margin: 0 auto;
    transition: transform 1s, filter 1s;
}
.portfolio-items ul li img:hover{
    filter: grayscale(10%);
    transform: scale(1.1, 1.1) translateY(-5%);
    cursor: pointer;
}
.portfolio-items ul li a{
    text-decoration: none;
}
.portfolio-items ul li a:hover{
    text-decoration: underline;
    color: var(--second-color);
}
.main-project{
    width: 80vw;
    font-size: 1.5em;
    margin: 3em auto;
}
.project-atm, .project-drawing{
    display: flex;
}
.project-atm div{
    width: 30%;
}
.project-atm .delivered{
    width: 80%;
}
.main-project h1{
    margin: 1em auto 1em auto;
}
.main-project div{
    display: block;
    text-align: center;
    margin: 1em auto;
}
.main-project-inputs input, #recargar{
    height: 1.5em;
    font-size: 1em;
    margin-bottom: 1em;
}
input[type=button]{
    padding: 1px 0.5em;
    background: var(--background-color);
    color: var(--principal-font);
    border-radius: 7px;
    border-color: var(--second-color);
}
input[type=button]:hover{
    padding: 1px 0.5em;
    background: var(--second-color);
    color: black;
    cursor: pointer;
    border-radius: 7px;
}
@media(max-width: 800px){
    .header {
        margin: 2em auto 1em auto;
    }
    .header-logo{
        margin: auto ;
        padding: 0;
    }
    .header-menu{
        display: none;
    }
    .hero{
        flex-direction: column-reverse;
        border: none;
    }
    .hero-text{
        width: 90%;
        margin: 1em auto 1em auto;
    }
    .hero-text p{
        width: 100%;
        font-size: 1.4em;
    }
    .hero-img{
        width: 85%;
        height: 85vw;
        margin: 0 auto 1em auto;
        overflow: hidden;
        border-radius: 50%;
    }

    .hero-icon-down{
        margin: 1em;
        position: initial;
        order: -1;
    }
}