:root{
    --principal-font: 'Oswald', sans-serif;
    --background-color: #242424;
    --second-color: #bdf5ff;
    --white: #FFFFFF: 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--principal-font);
    background-color: var(--background-color);
    color: white;
}

.header{
    width: 100%;
    background: var(--background-color);
}
.header-container{
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 1em 0 1em 0;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    align-items: center;
    padding: 0 0 0 1em;
}
.header-logo a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo a img:nth-child(1){
    height: 40px;
}
.header-logo a img:nth-child(2){
    height: 20px;
    padding-left: 0.8em;
}
.header-menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.header-menu ul li a{
    text-decoration: none;
    border: 1px solid var(--background-color);
    padding: 1em;
    font-weight: 300;
}

.header-menu ul li a:hover{
    border-color: var(--second-color);
    color: var(--second-color);
    font-weight: 400;
}

.header-menu ul li a:active{
    background-color: var(--second-color);
    color: var(--background-color);
    font-weight: 400;
}